@import url(https://fonts.googleapis.com/css?family=Roboto:300);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

/* Yikai Zou Contribution*/
body {
	font-family: 'Roboto', sans-serif;
    color: #404142;
    font-size: 16px;
	letter-spacing: 0.8px;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: 200;
}
ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
a {
	-webkit-transition: all 0.3s;
  	-moz-transition: all 0.3s;
  	transition: all 0.3s;
    color: grey;
}

a:hover {
    color: #4caf50;
}


#map{
    height: 400px;
    width: 80%;
    margin: 0 auto;
    bottom: 20%;
}

.newnav{
    background-color: white;
    border: 0px;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.25);
    margin-bottom: 1px;
    padding-top: 3px;
}

.navbar-right > li > a {
    font-size: 75%;
    color: #4caf50 !important;
    right: 15%;
}

.navbar-right > li > a:hover {
    color: #3C753C !important;
}

.carousel {
    width: 99%;
    margin: 0 auto;
    background-color: white
}

.row-title {
    display: none;
}

.glyphicon-heart-empty:hover {
  color: #4caf50 !important;
}

.cardheart{
  color: #4caf50 !important;
  font-size: 25px !important;
}

.cardheart-full{
  color: #4caf50 !important;
  font-size: 25px !important;
}

.cardheart:hover:before{
    content: "\f004";
    cursor: pointer;
}

.card-para{
    width: 300px;
    height: 70px;
    margin: auto;
}

.img-detail{
    height: 430px;
}

.link-detail{
    color: black;
}

/* End of Yikai Zou Contribution */

a:hover, a:focus, a:active, a:visited {
    text-decoration: none;
}

/* Buttons override */
.btn {
	text-transform: uppercase;
    font-weight: 600;
}
.btn-lg {
	padding: 15px 40px;
    font-size: 16px;
    line-height: none;
    border-radius: 4px;
}
.btn-red {
	background-color: #dd5138;
	color: #fff;
}
.btn-yellow {
	background-color: #fcd93b;
	color: #2a2a2a;
	opacity: 0.8;
    width: 50px;
}
.btn-yellow:hover {
	opacity: 1;
}
.btn-yellow.disabled:hover,
.btn-yellow[disabled]:hover {
    opacity: 0.65;
}
.content-ct {
	text-align: center;
}

.search {
  width: 100%;
  position: relative
}

.searchTerm {
  float: left;
  width: 100%;
  border: 1px #D2D6DF solid;
  padding: 10px;
  height: 50px;
  border-radius: 2px;
  outline: none;
  color: #9DBFAF;
}


.searchTerm:focus{
border: 1px #4caf50 solid;
color: black;
}

.searchButton {
  position: absolute;  
  right: 0px;
  width: 100px;
  height: 50px;
  font-weight: 600;
  background: #4caf50;
  text-align: center;
  color: #fff;
  border-radius: 2px;
  cursor: pointer;
}

/*Resize the wrap to see the search bar change!*/
.wrap{
    width: 80%;
    height: 100%;
    position: relative;
    margin: auto;
    padding:5%;
}

.card{
    width: 100%;
    height: 180px;
    margin: auto;
    border: 1px solid white;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.25);
}

.myevents{
    width: 100%;
    height: 300px;
    margin: auto;
    border: 1px solid white;

}

.message{
    text-align: center;
    padding: 10%;
    font-size: 20px;
}


#exTab2 h3 {
  color : black;
  padding : 5px 15px;
}

/* remove border radius for the tab */

#exTab1 .nav-pills > li > a {
  border-radius: 0;
}

.tab-hover{
    color: #4caf50;
}

.hero-header {
	background: #016cc7;
	min-height: 600px;
	padding: 5em;
	color: #fff;
}
.hero-header h1 {
	margin: 1em 0 0 0;
}
.hero-header h4 {
	font-weight: normal;
	opacity: 0.6;
    letter-spacing: 1px;
    margin: 2em 0;
}
.hero-header .logo {
	max-width: 180px;
}
.hero-header .btn {
	margin-top: 3em;
}
.hero-header .rocket {
	max-width: 100%;
}
.me-row {
	padding: 30px 0;
}
.row-title {
	font-weight: 400;
}
.feature {
	padding: 20px;
	margin-top: 30px;
}
.feature span {
	font-size: 5em;
    color: #016cc7;
}

.speaker .feature {
	width: 31.333333%;
	-webkit-transition: all 0.3s;
  	-moz-transition: all 0.3s;
  	transition: all 0.3s;
  	margin-right: 20px;
  	border: 3px solid #E1EAE1;
    border-radius: 5px;
}
.speaker .feature:hover {
    box-shadow: 3px 3px 10px #ccc;
    transform: translateY(-10px);
}
.speaker-img {
	max-width: 100%;
    border: 1px solid #efefef;
    border-radius: 7%;
}
ul.speaker-social li {
	list-style: none;
	display: inline-block;
	margin: 10px 5px;
}
ul.speaker-social li a {
	font-size: 0.2em;
	padding: 0 10px;
}
ul.speaker-social li a:hover {
	text-decoration: none;
}
a span.ti-facebook {
	color: #3b5998;
}
a span.ti-twitter-alt {
	color: #4099ff;
}

.tickets {
	background-color: #fcd93b;
}
.tickets .price {
	font-size: 4em;
	color: #dd5138;
    font-weight: 100;
}
.tickets .price sup {
	font-size: 0.4em;
}


.nav-tabs {
    margin-top: 20px;
}

.footer {
    background-color: #074626;
    color: #fff;
}
.footer p {
    margin-bottom: 0;
}
.footer-credit {
    padding: 40px;
    text-align: center;
}

.form-control {
    padding: 20px 15px;
    border: 3px solid #eee;
    background-color: #f9f9f9;
    box-shadow: none;
}
.help-block {
    font-size: 12px;
}
.form-control-feedback {
    top: 15px;
    right: 15px;
}

/* End of Yikai Zou Contribution */

/***** MINGYUE GAO  contribution – SI 539*****/

.navbar-brand {
    width: 100%;
    padding-top: 5px;
}

.navbar-brand > img {
    width: 55%;
    height: auto;
    margin-left: 10%;
    padding-top: 0;
    max-width: 200px;
}

.intro-img {
    max-width: 100%;
    position: relative;
}

.backbtn {
    position: absolute;
    top: 0;
    left: 0;
    background-color: transparent;
}

.backbtn > a {
    color: white;
}
.backbtn > a:hover {
    color: #4caf50;
}

.intro-head {
    box-shadow: 3px 3px 10px #ccc;
    padding-bottom: 5%;
    padding-top: 3%;
    background-color: #4e8e51;
}

.intro-text {
    padding-right: 5%;
}
.intro-text > h1 {
    font-size: 3rem;
    color: #F2F2F2;
    font-weight: bold;
    text-shadow: 0px 0.1px 2px #074626;
}
.intro-text > h2 {
    font-size: 2rem;
    color: white;
    text-shadow: 0px 0.1px 2px #074626;
}
.intro-text > h3 {
    font-size: 1.5rem;
    color: #D6D9D7;
    text-shadow: 0px 0.1px 0px #074626;
}
.intro-text > button {
    width: 100%;
    position: relative;
    margin-top: 20%;
}

.intro-body {
    padding-top: 3%;
    padding-bottom: 10%;
}

.bodytitle {
    margin-bottom: 15px;
    color: #3C753C;
    font-weight: bold;
}

.detailpart {
    margin-bottom: 5%;
}

.intro-des {
    padding-left: 3%;
    padding-right: 10%;
    margin-bottom: 5%;
}

.intro-detail {
    background-color: #F2F2F2;
    padding-top: 1%;
    width: 30%
    margin-bottom: 5%;
}

#lgheart, #lgheart1, #lgheart2, #lgheart3 {
    display: none;
}

.favbtn {
    border-color: white;
    color: #074626;
}

.carousel-indicators > li {
    color: #4caf50 !important;
}

.gallery {
    background-color: #ffffff;
}

#imgplace {
    width: 400px;
    height: 400px;
    margin-left: 15%;
    margin-top: 10%;
    margin-bottom: 10%;
    background-image: url('../img/logo_icon.png');
    background-size: 100%;
/*    border:5px solid black;*/
    background-repeat: no-repeat;
    box-shadow: 3px 3px 10px #ccc;
}
.peopleintro {
    padding-top: 1%;
    padding-bottom: 5%;
    background-color: #F2F2F2;
}
.teamintro {
    box-shadow: 3px 3px 10px #ccc;
    padding-bottom: 5%;
}
.introphoto {
    width: 100%;
}
#default-intro {
    padding-top: 15%;
    padding-left: 15%;
    padding-right: 15%;
}

#default-intro > h1 {
    color: #074626;
    font-weight: bold;
}

#default-intro > p {
    font-size: 1.8rem;
}

.hoverhint {
    margin-bottom: 3%;
    font-size: 2rem;
    text-transform: uppercase;
    text-align: center;
    color:  #4caf50;
    font-weight: bold;
}

#intro-jacob, #intro-ruchi, #intro-yikai, #intro-mingyue {
    display: none;
    margin-top: 15%;
    padding-right: 15%;
    margin-left: 15%;
}

#intro-jacob > h1, #intro-ruchi > h1, #intro-yikai > h1, #intro-mingyue > h1 {
    color: #074626;
    font-weight: bold;
}

#intro-jacob> p, #intro-ruchi > p, #intro-yikai > p, #intro-mingyue > p {
    font-size: 1.8rem;
}

.filtertoolbar {
    width: 70%;
    left: 15%;
    margin-top: 2%;
}

.eventfilter-title {
    background-color: #F2F2F2;
    border-color: #D3D3D3;
}

.eventfilter-title:hover {
    background-color: #F2F2F2;
    border-color: #D3D3D3;
}

.eventfilter{
    position: fixed;
}

.eventfilter:hover {
    color: #4caf50;
    background-color: white;
    border-color: #4caf50;
}

#map {
    margin-top: 5%;
}

.login-page {
    margin-bottom: 5%;
}

.backbtn-res {
    color: #074626;
    display: none;
}
/***** End: MINGYUE GAO  contribution – SI 539*****/

@-webkit-keyframes bounce { 
    0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);} 
    40% {-webkit-transform: translateY(-30px);} 
    60% {-webkit-transform: translateY(-15px);} 
} 

@keyframes bounce { 
    0%, 20%, 50%, 80%, 100% {transform: translateY(0);} 
    40% {transform: translateY(-30px);} 
    60% {transform: translateY(-15px);} 
} 

.bounce { 
    -webkit-animation-name: bounce; 
    animation-name: bounce; 
}

/* ========================================
    Custom Media Queries
======================================== */

/* Mobile */

/* Yikai Zou Contribution */

@media (max-width: 767px) {

    .speaker .feature {
        width: 100%;
        height: 100%;
    }
    .footer-credit {
        text-align: center;
        padding: 40px 20px;
    }
    ul.footer-menu {
        text-align: center;
        margin-top: 30px;
    }

    .card{
        width: 100%;
        height: 100px;
        margin: auto;
        border: 1px solid white;
        box-shadow: 0 1px 3px 0 rgba(0,0,0,.25);
    }

    .filtertoolbar{
        width: 75%;
        left: 1%;
    }

    .searchButton {
        font-size: 70%;
    }

    .searchTerm {
        font-size: 80%;
    }

    .navbar-brand > img {
        width: 30%;
        margin-top: 3%;
        height: auto;
        max-width: 150px;
        margin-left: auto;
        margin-right: auto;
        margin: 3% auto 3% auto;
    }

    .navbar-right > li > a {
        color: #4caf50 !important;
        padding: 3%;
        font-size: 80%;
        left: 30%;
        line-height: 5%;
        max-height: 40px;
    }

/* End of Yikai Zou Contribution */

/***** MINGYUE GAO  contribution – SI 539*****/
    .intro-text > button {
        width: 100%;
        position: relative;
        margin-top: 7%;
    }

    .intro-detail {
        width: 90%;
        margin-top: 5%;
        margin-left: 3%;
    }

    #imgplace {
        margin-bottom: 0;
        width: 200px;
        height: 200px;
    }

    .hoverhint {
        font-size: 1rem;
    }

    #default-intro {
        margin-top: 0;
        margin-bottom: 15%;
    }

    #intro-jacob, #intro-ruchi, #intro-yikai, #intro-mingyue {
        margin-top: 10%;
        margin-bottom: 15%;
    }

    .introphoto {
        margin-bottom: 20px;
    }
    .login-img {
        display: none;
    }
    .backbtn-res {
        display: inline-block;
    }
/***** End: MINGYUE GAO  contribution – SI 539*****/
}
    

/* iPad Portrait */
@media (min-width: 768px) and (max-width: 991px) {
    .hero-header {
        padding: 3em 1em 1em 1em;
        text-align: center;
    }
    .speaker .feature {
        width: 49%;
        margin-right: 7px;
    }
    ul.footer-menu {
        margin-top: 0;
    }
    .filtertoolbar{
        width: 70%;
        left: 7%;
    }

/***** MINGYUE GAO  contribution – SI 539*****/
    #default-intro > p {
        font-size: 1.5rem;
    }
    #default-intro {
        margin-top: 5%;
        padding-left: 15%;
        padding-right: 15%;
    }
    #imgplace {
        width: 300px;
        height: 300px;
    }
    .introphoto {
        margin-bottom: 20px;
    }
    .login-img {
        display: none;
    }
    .backbtn-res {
        display: inline-block;
    }
/***** End: MINGYUE GAO  contribution – SI 539*****/
}

/* Yikai Zou Contribution */
@media (min-width: 992px) and (max-width: 1199px) {
    .speaker .feature {
        width: 40%;
        margin-right: 9px;
    }
/* End of Yikai Zou Contribution */

/***** MINGYUE GAO  contribution – SI 539*****/
    .intro-detail {
        width: 30%;
        margin-top: 0;
    }
    #imgplace {
        width: 400px;
        height: 400px;
    }
    .hoverhint {
        font-size: 2rem;
    }
    .intro-text > button {
        margin-top: 30%;
    }
/***** End: MINGYUE GAO  contribution – SI 539*****/
}