{% extends "index.html" %}
{% block content %}

<!-- **** MINGYUE GAO  contribution – SI 539**** -->
  	<!-- Start: Intro Region -->
  	<div class="container-fluid teamintro">
  		<!-- Start: Img Placeholder -->
  		<div class="col-xs-12 col-sm-6">
  			<div  id="imgplace">
  			</div>
  		</div>
  		<!-- End: Img Placeholder -->

  		<!-- Start: Paragraphs -->
  		<div class="col-xs-12 col-sm-6">
  			<section id="default-intro">
  				<h1>Hi there!</h1>
	  			<p>We are team EventSeeker.</p>
	  			<p>We are four passionate graduate students from School of Information, University of Michigan, Ann Arbor.</p>
	  			<p>Hope you are having fun when exploring our website!</p>
	  		</section>
	  		<section id="intro-jacob">
	  			<h1>Jacob Berman</h1>
	  			<p>Self introduction of Jacob.</p>
	  		</section>
	  		<section id="intro-ruchi">
	  			<h1>Ruchi Ookalkar</h1>
	  			<p>Hi! I'm Ruchi.</p>
					<p>I love designing and developing beautiful experiences.</p>
	  		</section>
	  		<section id="intro-yikai">
	  			<h1>Yikai Zou</h1>
	  			<p>Hey! Je m'appelle Yikai, and I also go by Shile.
	  			<p>I'm a graduate student at Univestisy of Michigan School of Information. Go Blue! </p>
	  			<p>I like fixing things, but I love designing things.</p>
	  		</section>
	  		<section id="intro-mingyue">
	  			<h1>Mingyue Gao</h1>
	  			<p>Hi! I'm Mingyue and you can also call me Angie. </p>
	  			<p>I'm a UX researcher, graphic designer as well as a first-year master student studying Human-Computer Interaction in U-M.</p>
	  			<p>With a background in psychology and neuroscience, I'm now looking forward to spur on my UX reserach with various research methods!</p>
	  		</section>
  		</div>
  		<!-- End: Paragraphs -->
  	</div>
  	<!-- End: Intro Region -->

  	<!-- Start: Photo Previews -->
  	<div class="container-fluid peopleintro">
  		<div class="col-xs-12">
  			<h2 class="hoverhint">Hover on the photos below to get to know us!</h2>
  		</div>
  		<div class="col-xs-6 col-md-3">
  			<img src="img/jacob.jpg" alt="Jacob Berman" class="introphoto" id="jacob" onmouseover="imghover(this)" onmouseleave="imgleave()">
  		</div>
  		<div class="col-xs-6 col-md-3">
  			<img src="img/ruchi.jpg" alt="Ruchi Ookalkar" class="introphoto" id="ruchi" onmouseover="imghover(this)" onmouseleave="imgleave()">
  		</div>
  		<div class="col-xs-6 col-md-3">
  			<img src="img/yikai.jpeg" alt="Yikai Zou" class="introphoto" id="yikai" onmouseover="imghover(this)" onmouseleave="imgleave()">
  		</div>
  		<div class="col-xs-6 col-md-3">
  			<img src="img/mingyue.png" alt="Mingyue Gao" class="introphoto" id="mingyue" onmouseover="imghover(this)" onmouseleave="imgleave()">
  		</div>

  		<script type="text/javascript">
	  		function imghover(imgchosen) {
				var hoverzone = document.getElementById('imgplace');
				var targetsrc = imgchosen.src;
				var targetid = imgchosen.id;
				hoverzone.style.backgroundImage = "url('" + targetsrc + "')";
				document.getElementById('default-intro').style.display = "none";
				if (targetid == "jacob") {
					document.getElementById('intro-jacob').style.display = "inline-block";
				}
				else if (targetid == "ruchi") {
					document.getElementById('intro-ruchi').style.display = "inline-block";
				}
				else if (targetid == "yikai") {
					document.getElementById('intro-yikai').style.display = "inline-block";
				}
				else {
					document.getElementById('intro-mingyue').style.display = "inline-block";
				}
			}

			function imgleave() {
				var hoverzone = document.getElementById('imgplace');
				hoverzone.style.backgroundImage = "url('img/logo_icon.png')";
				document.getElementById('default-intro').style.display = "inline-block";
				document.getElementById('intro-mingyue').style.display = "none";
				document.getElementById('intro-yikai').style.display = "none";
				document.getElementById('intro-ruchi').style.display = "none";
				document.getElementById('intro-jacob').style.display = "none";
			}
	  	</script>
  	</div>
  	<!-- End: Photo Previews -->
<!-- **** End: MINGYUE GAO  contribution – SI 539**** -->

{% endblock %}
