{% extends "index.html" %}
{% block content %}
  <!-- **** YIKAI ZOU  contribution – SI 539**** -->
  <div class="container-fluid cr-header">
    <div class="navbar-header create_header">
      <h1>Create An Event</h1>
    </div>
  </div>
  <hr>
<!-- Fix Accessiblity Yikai -->
  <div class="form row">
    <form class="register-form reg-form">
      <label class = "label-title">EVENT TITLE</label>
      <input type="text" id="eventTitle" placeholder="Enter the event name" aria-label="event_name"/>
      <label class = "label-title">LOCATION</label>
      <input type="text" id="eventLocation" placeholder="Enter the address of your event" aria-label="event_location"/>
      <label class = "label-title">ORGANIZER</label>
      <input type="text" id="organizer" placeholder="Who organizes this event?" aria-label="event_organizer"/>
      <label class = "label-title">DATE</label>
      <input type="date" id="date" aria-label="event_date"/>
      <label class = "label-title">TIME</label>
      <input type="time" id="time" label="event_time"/>
          <label class = "label-title">UPLOAD EVENT IMAGE</label>
          <input type="file" onchange="readURL(this);" aria-label="event_image"/>
          <img id="mock" src="http://placehold.it/180" alt="Your Image"/>
          <hr>
<!--         </div> -->
        <div class = "container-fluid">
          <button type="button" id = "save_btn" class ="save-cr-btn">Save</button>
          <div id="myModal" class="modal">

            <!-- Modal content -->
            <div class="modal-content cr-content">
              <span class="close">&times;</span>
              <h4> <span class="glyphicon glyphicon glyphicon-ok cardheart"></span> Success</h4>
              <div class="modal-body">
               Your event is saved. You can come back and edit it later.
             </div>
           </div>

         </div>
         <button type="button" id = "publish_btn" class ="save-cr-btn">Publish</button>
         <div id="myModal_publish" class="modal">
         <div class="modal-content cr-content">
          <span class="close">&times;</span>
          <h4> <span class="glyphicon glyphicon glyphicon-ok cardheart"></span> Success</h4>
          <div class="modal-body">
           Your event is published. You will be notified when it's approved.
         </div>
         </div>
       </div>
     </div>
   </form>
</div>

<!-- Dialog -->

<script type="text/javascript">

 function readURL(input) {
  if (input.files && input.files[0]) {
    var reader = new FileReader();

    reader.onload = function (e) {
      $('#mock')
      .attr('src', e.target.result);

    };
    reader.readAsDataURL(input.files[0]);
  }
}
</script>


<!-- End of Dialog -->
<!-- **** End of YIKAI ZOU  contribution – SI 539**** -->
{% endblock %}
