{% extends "index.html" %}
{% block content %}
	<!-- **** MINGYUE GAO  contribution – SI 539**** -->
	<!-- Start: Event Header -->
	<div class="container-fluid intro-head">
		<!-- Start: BACK Button -->
		<div class="col-md-8 col-xs-12">
			<img src="img/event1.jpg" alt="Event Intro Img" class="intro-img">
				<a class ="btn btn-lg backbtn" href="index.html">
					<span class="glyphicon glyphicon-menu-left"> BACK</span>
				</a>
		</div>
		<!-- End: BACK Button -->

		<!-- Start: Event Brief Intro -->
		<div class="container-fluid col-md-4 col-xs-12 intro-text">
			<h2>DEC 13TH</h2>
			<h1>The Opening of Toastmasters at Sweetwaters</h1>
			<h3>By Sweetwaters Coffee &amp; Tea</h3>
			<!-- Start: LIKE Button -->
			<button type="button" data-toggle="modal" data-target="#addfav" class="btn btn-lg favbtn" id="fav" onmouseover="hearthover()" onmouseleave="heartleave()">
				<span class="glyphicon glyphicon-heart-empty" id="lgheartemp"></span>
				<span class="glyphicon glyphicon-heart" id="lgheart"></span> ADD TO My FAVORITES
			</button>

			<!-- Modal -->
			<div class="modal fade" id="addfav" role="dialog">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal">&times;</button>
							<h4 class="modal-title"><span class="glyphicon glyphicon glyphicon-ok cardheart"></span> Success</h4>
						</div>
						<div class="modal-body">
							<p>Event added to your favorites!</p>
						</div>
					</div>
				</div>
			</div>

			<script type="text/javascript">
				var clicked = false;

				function hearthover() {
					if (clicked == false) {
						document.getElementById('lgheartemp').style.display = "none";
						document.getElementById('lgheart').style.display = "initial";
						document.getElementById('fav').style.color = "#4caf50";
					}
				}

				function heartleave() {
					if (clicked == false) {
						document.getElementById('lgheart').style.display = "none";
						document.getElementById('lgheartemp').style.display = "initial";
						document.getElementById('fav').style.color = "#074626";
					}
				}

				function addsucceed() {
					clicked = true;
					// window.alert("The event has been added to your favorites successfully!");
					// document.getElementById('lgheart').style.display = "initial";
					// document.getElementById('fav').style.color = "#4caf50";
					document.getElementById('fav').disabled = "true";
				}
			</script>
			<!-- End: LIKE Button -->
		</div>
		<!-- End: Event Brief Intro -->

	</div>
	<!-- End: Event Header -->

	<!-- Start: Event Intro Body -->
	<div class="container-fluid intro-body">
		<!-- Start: Event Description -->
		<div class="container-fluid col-md-8 intro-des">
			<h4 class="bodytitle">DESCRIPTION</h4>
			<p>
			This club is open and everyone is welcome! Sweetwaters staff and community members are creating a new Toastmasters club @ Sweetwaters. We will have some experienced Toastmasters members on hand too, to show the basic format of a Toastmaster's meeting. Attendees will have the chance to give input into the new club and create a great experience and build a new club culture!</p>
			<p>
			Come a little early and pick-up a beverage or snack, if you would like from Sweetwaters. Have fun making new friendships with encouraging and supportive people! You can be part of the founders of the club!</p>
			<p>
				There is success at Toastmasters! People try new things and everyone wins. It is an encouraging atmosphere of supportive people. When you join Toastmasters - you receive a Mentor and you may want to Mentor other people too.
			There is free street parking at the meters after 6 pm, and parking in the residential areas by First &amp; Second street. If you are a Toastmaster and would like a meeting role, please feel free to contact me (Isabella), if you would just like to know more about this awesome event, or Toastmasters come enjoy and have fun!</p>
			<p>
				We look forward to seeing you at this exciting event! Everyone is welcome!
			</p>
		</div>
		<!-- End: Event Description -->

		<!-- End: Event Details -->
		<div class="container-fluid col-md-4 intro-detail">
			<div class="container-fluid detailpart">
				<h4 class="bodytitle">TIME</h4>
				<p>Web, December 13, 2017</p>
				<p>7:00 PM - 8:30 PM EST</p>
			</div>
			<div class="container-fluid detailpart">
				<h4 class="bodytitle">LOCATION</h4>
				<p>Sweetwaters Coffee &amp; Tea</p>
				<p>123 West Washington Street
					<br>Ann Arbor, MI 48104</p>
				</div>
			</div>
			<!-- End: Event Details -->
			<!-- **** End of MINGYUE GAO  contribution – SI 539**** -->

			<!-- **** YIKAI ZOU  contribution – SI 539**** -->
			<!-- Start: Map -->
			<div class="container-fluid" id="map">
				<script>
					function initMap() {
						var uluru = {lat: 42.28, lng: -83.743};
						var map = new google.maps.Map(document.getElementById('map'), {
							zoom: 10,
							center: uluru
						});
						var marker = new google.maps.Marker({
							position: uluru,
							map: map
						});
					}
				</script>
			</div>
			<!-- End: Map -->
		</div>
		<script async defer	src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC65Z-su8nFmkErg6-2r3RbJf_uB27BBgQ&callback=initMap">
 	</script
{% endblock %}
