{% extends "index.html" %}
{% block content %}
    <div class="container login-page col-md-12">
      <div class="row">
        <div class="col-lg-8">
          <img src="img/signup.jpg" alt="EventSeeker Login" class="login-img">
        </div>
        <div class="col-lg-4 sidebar">

          <!-- **** MINGYUE GAO  contribution – SI 539**** -->
          <button type="button" class="btn btn-lg backbtn-res">
            <a href="index.html">
            <i class="fa fa-chevron-left" aria-hidden="true"></i> BACK
            </a>
          </button>
          <!-- **** End: MINGYUE GAO  contribution – SI 539**** -->

          <div class="row">
            <img src="img/logo_full.png" alt="logo">
          </div>
          <div class="form row">
              <form class="register-form">
                <input type="text" placeholder="name" label="username"/>
                <input type="password" placeholder="password" label="password"/>
                <input type="text" placeholder="email address" label="email"/>
                <button>create</button>
                <p class="message">Already registered? <a href="#">Sign In</a></p>
              </form>
              <form class="login-form">
                <input type="text" placeholder="username" label="username"/>
                <input type="password" placeholder="password" label="password"/>
                <button>login</button>
                <p class="message">Not registered? <a href="#">Create an account</a></p>
              </form>
          </div>
        </div>
      </div>
    </div>

  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <script>
    $('.message a').click(function(){
       $('form').animate({height: "toggle", opacity: "toggle"}, "slow");
    });
  </script>

{% endblock %}
